<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- ############## Configuration by Environments ############### -->
    <!-- QA -->
    <add key="PlatformBaseURLQA" value="https://uluru-interpris-poc.azurewebsites.net" />
    <add key="TranscriptionBaseURLQA" value="https://uluru-interpris-poc.azurewebsites.net" />
    <!-- Test -->
    <add key="PlatformBaseURLTest" value="https://uluru-interpris-poc.azurewebsites.net" />
    <add key="TranscriptionBaseURLTest" value="https://uluru-interpris-poc.azurewebsites.net" />
    <!-- ############################################################ -->

    <!-- Data Driven Folder -->
    <add key="DataFolder" value="Data" />
    <add key="DataMappings" value="DataMappings.csv" />
    <add key="CommonDataMappings" value="CommonData.csv" />
    <add key="TestCaseDataMappings" value="TestCaseDataMappings.csv" />
    <add key="StoryDataMappings" value="StoryDataMappings.csv" />
    <add key="DownloadFolder" value="DownloadData" />
    <!-- Web driver properties -->
    <add key="Browser" value="chrome" />
    <add key="ScreenSize" value="max" />
    <add key="PageLoadTimeout" value="30" />
    <!-- BrowserStack Infor -->
    <add key="browserstack.user" value="itops8" />
    <add key="browserstack.key" value="sEcqV9YHudKtvj6LBLtq" />
    <add key="os" value="Windows" />
    <add key="os_version" value="10" />
    <add key="resolution" value="1024x768" />
  </appSettings>
</configuration>
